:root{
    --base-unit: 2.5em;

    --snek-color: greenyellow;
    --food-color: blue;
    --grid-background: #242424;

    --background: #343434;
    --foreground: #c0c0c0;
    
    --transparent-background: #000000aa;
    font-family: "Lucida Console", "Courier New", monospace;
}

.faded{ opacity: 0 !important; }
.hidden{ display: none !important; }
.desktop-hidden{ display: none; }

.c-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;

    min-height: 100vh;
    min-width: 100vw;

    overflow: hidden;
    background-color: var(--background);
    color: var(--foreground);
}

#close-tutorial,
#open-tutorial{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3em;
    opacity: 0.2;
    margin: 0.2em;
    transition: 300ms ease-in;
}

#close-tutorial:hover,
#open-tutorial:hover{
    transform: scale(1.2);
    opacity: 1;
}

#open-tutorial::before{ content: '❔'; }
#close-tutorial::before{ content: '✖'; }

body > header{
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 1em 2em;
}

body > header,
#game-params {
    flex-wrap: wrap;
}

body > header *,
#game-params * {
    margin: 0 0.2em;
}

#game-params select{
    padding: 0.3rem;
    min-width: 8.3em;
    font-size: 1.2em;
    text-align: center;
    border-radius: 4px;
}

body > header button {
    cursor: pointer;
    font-size: 2.2em;
    min-width: 3em;
    min-height: 3em;
    padding: 16px;
    border-radius: 8px;
}

body > header button:disabled{ cursor: default; }

#scores {
    min-width: 13em;
    text-align: end;
    margin-left: 1em;
}

#game-area{
    width: 100%;
    margin-top: 1em;
}

#pause,
#direction-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: larger;
    color: var(--foreground);
    background-color: var(--transparent-background);
}

#direction-overlay {
    font-size: 5em !important;
    opacity: 100;
    transition: 210ms ease-in-out;
}

#main{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    padding: 0;
    width: fit-content;
    border: 5px solid red;
    background-color: var(--grid-background);
}

#main > section > div{
    margin: 0;
    padding: 0;
    width: var(--base-unit);
    height: var(--base-unit);
    border-width: 1px;
    border-style: solid;
}

#main div.snek-body{
    background-color: var(--snek-color);
}

#main div.food{
    background-color: var(--food-color);
}

#how-to{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    font-size: 1.4em;
    color: var(--foreground);
    background-color: var(--transparent-background);
}

#how-to header h1{
    font-size: 2.2em;
    margin-bottom: 0.2em;
}

#how-to header h2{
    font-size: 1.4em;
    margin: 0;
};

#how-to ul li em{
    font-size: 1.22em;
}

#how-to p{
    font-size: 1.2em;
}

#how-to ul{ padding: 0 2em;}
#how-to ul li{
    text-align: left;
    font-size: 1em;
    margin: 0.25em 0;
}

#how-to footer{
    cursor: default;
    opacity: 0.2;
    font-size: 0.8em;
    transition: 320ms ease-in-out;
}

a {
    cursor: pointer;
    color: var(--foreground);
    text-decoration: none;
}

#how-to footer:hover { opacity: 1; }

@media screen and (max-width: 620px) {
    :root{ --base-unit: 1.4em; }
    .mobile-hidden{ display: none; }
    .desktop-hidden{ display: inline-block; }
    html, body{
        position: fixed;
        overscroll-behavior-y: contain;
    }
    body > header{
        padding: 1em 0;
    }
    body > header button {
        font-size: 1.8em;
        min-width: 2.4em;
        min-height: 2.4em;
        padding: 12px;
    }
    #scores {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    #scores * {
        margin: 0.3em 0;
    }
    #game-params * {
        width: 100%;
        text-align: center;
        padding: 0.2em;
    }
    #game-params label {
        margin-top: 0.4em;
    }

    #game-params select{
        min-width: 12em;
        max-width: fit-content;
    }
    #game-area{
        margin: 0;
    }
    #close-tutorial,
    #open-tutorial{
        font-size: 2.2em;
        opacity: 1;
        transition: none;
    }

    #close-tutorial:hover,
    #open-tutorial:hover{
        transform: none;
    }
}